#commentShow{
    margin: 20px auto;
    padding: 10px 10px;
}

.img-thumbnail img {
    width: 100%;
}

.img-thumbnail{
    padding: 0;
}

#campDesc{
    padding: 9px;
}
.delete-form{
    display: inline;
}

#comment-btn-space{
    margin-bottom: 5px;
}
.jumbotron{
    background-color: #d5f2fd;
    padding: 10px 10px;
    margin: 30px auto;
}
.bg-light{
    background-color: #d5f2fd !important;
}
#sayingHi{
    padding-right: 50px;
}

body{
    font-family: 'Roboto', sans-serif;
}

#newCampBtn{
    border-color: #d5f2fd;
    background-color: #0c3e73b8;
}
#newCampBtn:hover { 
    text-decoration: underline;
}
#alertShow{
    width: 95%;
    margin-top: 15px;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
  
}
@media only screen and (max-width: 600px) {
    body {
        width: 95%;
    }
}